* {
	border: 1px solid orange;
}
body {
	background-color: #000000;
	font-family: 'Press Start 2P', cursive;
	font-weight: 400;
}

p {
	margin: 125px 0;
	text-align: center;
}

.main {
	background-color: #FFFFFF;
	margin-top: 110px;
	padding-left: 95px;
	padding-right: 95px;
	height: 500px;
	min-width: 1200px;
	position: relative;
	z-index: 1;
}	

/* Ryu Section */
.ryu,
.hulk-ryu {
	width: 659px;
	height: 494px;
}

.ryu {
	float: left;
}

.hulk-ryu {
	float: right;
	filter: hue-rotate(90deg);
}

.hulk-hadouken,
.hulk-ryu-still,
.hulk-ryu-ready,
.hulk-ryu-throwing,
.hulk-ryu-cool {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ryu-still, 
.ryu-ready,
.ryu-throwing,
.ryu-cool,
.hulk-ryu-still,
.hulk-ryu-ready,
.hulk-ryu-throwing,
.hulk-ryu-cool {
	width: 659px;
	height: 494px;
} 

.ryu-ready,
.ryu-throwing,
.ryu-cool,
.hulk-ryu-ready,
.hulk-ryu-throwing,
.hulk-ryu-cool {
	display: none;
}

.ryu-still,
.hulk-ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready,
.hulk-ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing,
.hulk-ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool,
.hulk-ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool,
.hulk-hadouken,
.hulk-ryu-still,
.hulk-ryu-ready,
.hulk-ryu-throwing,
.hulk-ryu-cool {
	background-repeat: no-repeat;
}

/* Hadouken Section */
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none; 
	float: left;
	position: absolute;
	top: 165px;
	left: 550px;
	z-index: 20;
}

.hulk-hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
 	display: none;
	float: right;
	position: absolute;
	top: 165px;
	right: 550px;
	z-index: 20;
}

/* Intro Section */
.instruct {
	height: 494px;
	width: 400px;
	position: relative;
	float: left;
}

.logo,
.instruct {
	display: none;
}

.logo {
	background-image: url('../images/streetfighter-logo.png');
	height: 252px;
	width: 396px;
	float: left;
	position: absolute;
	top: 120px;
	left: 759px;
	z-index: 10;
}